@page "/5"
<div style="display: inline-block; width: 481px" data-ignore="used only for top most containter width">
  <div class="yoga-registration">
    <p class="yoga-class-info">
      <span>Хотите записаться на занятие хатха-йогой
</span>
      <span class="yoga-class-date-time">18 сентября в 12:00</span>
      <span>в студию Daily Fitness?</span>
    </p>
    <div class="yoga-confirmation-container">
      <div class="content-box">
        <p class="white-text">Да</p>
      </div>
      <!-- Button Component is detected here -->
      <button class="confirm-button">Нет</button>
    </div>
  </div>
</div>


@code {

}
