@page "/6"
<div style="display: inline-block; width: 458px" data-ignore="used only for top most containter width">
  <div class="confirmation-container">
    <p class="email-confirmation-text">
      <span>Пожалуйста, введите код подтверждения, отправленный на вашу почту</span>
      <span class="email-label">msivitskya@gmail.com</span>
    </p>
    <div class="confirmation-code-container">
      <p class="title">******</p>
    </div>
  </div>
</div>


@code {

}
