@page "/7"
<div style="display: inline-block; width: 904px" data-ignore="used only for top most containter width">
  <div class="registration-container">
    <p class="registration-message1">Для записи на занятие, пожалуйста, зарегистрируйтесь.
Так вы сможете смотреть актуальные заказы и записи в вашем личном кабинете.</p>
    <div class="registration-container1">
      <div class="account-creation">
        <p class="create-account-title">Cоздать аккаунт</p>
        <div class="account-creation-container">
          <div class="image-container1">
            <img class="image-container img-content-19be1d3c" />
          </div>
          <div class="image-container3">
            <img class="image-container2 img-content-684f0252" />
          </div>
        </div>
      </div>
      <div class="registration-form">
        <p class="registration-message">Или зарегистрируйтесь с помощью почты</p>
        <div class="account-creation-form">
          <div class="name-container">
            <p class="name-text">Имя</p>
               <div class="name-input-container"></div>
          </div>
          <div class="name-container">
            <p class="name-text">Email</p>
               <div class="name-input-container"></div>
          </div>
          <div class="name-container">
            <p class="name-text">Пароль</p>
               <div class="name-input-container"></div>
          </div>
          <!-- Button Component is detected here -->
          <button class="create-account-button">Создать аккаунт</button>
        </div>
      </div>
    </div>
  </div>
</div>


@code {

}
