@page "/card"
<div style="display: inline-block; width: 1199px" data-ignore="used only for top most containter width">
    <div class="fitness-info-container">
        <div class="flex-container2">
            <div class="image-container">
                <img class="image-container2 img-content-b9419e91" />
            </div>
            <div class="flex-column-align-end">
                <div class="card-header">
                    <img class="image-container1 img-content-6392f8dc" />
                </div>
                <div class="alpha-background-container">
                    <div class="highlighted-box1">
                        <p class="score-text">+4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fitness-schedule-container">
            <div class="fitness-info2">
                <div class="fitness-card">
                    <p class="daily-fitness-title">DAILY FITNESS</p>
                    <div class="fitness-rating">
                        <div class="svg-container">...</div>
                        <p class="rating-with-reviews">
                            <span>4.9</span>
                            <span class="review-count">(70 отзывов)</span>
                        </p>
                    </div>
                    <p class="fitness-info1">
                        Современная фитнес-студия с комплексным подходом. Студия предлагает новый подход к питанию и тренировкам, разрушает сложившиеся стереотипы и показывает, что здоровый образ жизни - это жизнь возможностей, а не ограничений!
                        <br />
                    </p>
                    <div class="fitness-info">
                        <p class="address-info">Адрес: Петербург, Туристская улица, 10</p>
                        <div class="fitness-rating">
                            <div class="svg-container1">...</div>
                            <p class="running-text">Беговая</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="schedule-container1">
                <p class="daily-fitness-title">РАСПИСАНИЕ</p>
                <div class="schedule-container3">
                    <div class="schedule-container2">
                        <div class="calendar-container2">
                            <div class="calendar-container">
                                <div class="calendar-container1">
                                    <div class="date-container">
                                        <p class="september-title">Cентябрь</p>
                                        <p class="september-year">2023</p>
                                    </div>
                                    <div class="date-container1">
                                        <div class="svg-container2">...</div>
                                        <div class="svg-container3">...</div>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="flex-container1">
                                        <span class="highlighted-text6">27</span>
                                        <span class="highlighted-text7">28</span>
                                        <p class="highlighted-text1">1</p>
                                        <p class="highlighted-text3">2</p>
                                        <p class="highlighted-text3">3</p>
                                        <p class="highlighted-text9">4</p>
                                    </div>
                                    <div class="flex-container1">
                                        <p class="highlighted-text9">5</p>
                                        <p class="highlighted-text9">6</p>
                                        <p class="highlighted-text3">7</p>
                                        <p class="highlighted-text9">8</p>
                                        <p class="highlighted-text9">9</p>
                                        <span class="highlighted-text8">10</span>
                                    </div>
                                    <div class="flex-row-with-gap">
                                        <div class="highlighted-box">
                                            <p class="number-box">11</p>
                                        </div>
                                        <span class="highlighted-text">12</span>
                                        <span class="highlighted-span1">13</span>
                                        <span class="highlighted-text8">14</span>
                                        <span class="highlighted-text8">15</span>
                                        <span class="highlighted-text8">16</span>
                                    </div>
                                    <div class="flex-row-with-gap">
                                        <span class="highlighted-text">17</span>
                                        <span class="highlighted-span2">18</span>
                                        <span class="highlighted-text8">19</span>
                                        <span class="highlighted-text4">20</span>
                                        <span class="highlighted-text">21</span>
                                        <span class="highlighted-span">22</span>
                                    </div>
                                    <div class="flex-row-with-gap">
                                        <span class="highlighted-text4">23</span>
                                        <span class="highlighted-text4">24</span>
                                        <span class="highlighted-text4">25</span>
                                        <span class="highlighted-text4">26</span>
                                        <span class="highlighted-span">27</span>
                                        <span class="highlighted-text4">28</span>
                                    </div>
                                    <div class="flex-row-with-gap">
                                        <span class="highlighted-text4">29</span>
                                        <span class="highlighted-text4">30</span>
                                        <span class="highlighted-text">31</span>
                                        <p class="highlighted-text2">1</p>
                                        <p class="highlighted-text5">2</p>
                                        <p class="highlighted-text5">3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-container">
                        <p class="schedule-heading">Расписание на 18 сентября, понедельник</p>
                        <div class="yoga-class-container2">
                            <!-- Repeated elements detected. These are rendered using loops & conditions in the React tab -->
                            <div class="yoga-class-container1">
                                <div class="yoga-class-container">
                                    <p class="address-info">Хатха йога для начинающих</p>
                                    <div class="yoga-class-schedule">
                                        <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                                        <div class="circle-indicator"></div>
                                        <p class="address-info">1500₽</p>
                                    </div>
                                </div>
                                <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                            </div>
                            <div class="yoga-class-container1">
                                <div class="yoga-class-container">
                                    <p class="address-info">Хатха йога для начинающих</p>
                                    <div class="yoga-class-schedule">
                                        <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                                        <div class="circle-indicator"></div>
                                        <p class="address-info">1500₽</p>
                                    </div>
                                </div>
                                <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                            </div>
                            <div class="yoga-class-container1">
                                <div class="yoga-class-container">
                                    <p class="address-info">Хатха йога для начинающих</p>
                                    <div class="yoga-class-schedule">
                                        <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                                        <div class="circle-indicator"></div>
                                        <p class="address-info">1500₽</p>
                                    </div>
                                </div>
                                <!-- PLACEHOLDER - Button Component detected here. Go to "React Code" via right click menu to see code generated -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed:wght@400">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500">
@code {

}
