@page "/4"
<div style="display: inline-block; width: 120px" data-ignore="used only for top most containter width">
  <div class="dialog-container">
    <p class="dialog-title">Диалоги</p>
    <div class="dialog-container1">
      <div class="assistant-card">
        <div class="assistant-container">
          <div class="circle-image-container">
            <img class="image-container img-content-9ebfd462" />
          </div>
        </div>
        <p class="assistant-name">AI-помощник</p>
      </div>
      <div class="assistant-card1">
        <div class="profile-container">
          <img class="avatar img-content-6ce183cc" />
        </div>
        <p class="assistant-name">Екатерина С.</p>
      </div>
      <div class="chat-box">
        <div class="profile-image-container">
          <img class="avatar img-content-e654bc8b" />
        </div>
        <p class="assistant-name">Максим Л.</p>
      </div>
      <div class="chat-button-container">
        <div class="chat-button-container1">
          <div class="circle-button">
            <p class="plus-symbol">+</p>
          </div>
        </div>
        <p class="assistant-name">Новый чат</p>
      </div>
    </div>
  </div>
</div>


@code {

}
