@page "/0"
@inject HttpClient Http

@if (isRegister)
{
    <div>
        <h3>Регистрация</h3>
        <input type="text" @bind="Name" placeholder="Имя" />
        <input type="email" @bind="Email" placeholder="Почта" />
        <input type="password" @bind="Password" placeholder="Пароль" />
        <button @onclick="Register">Зарегистрироваться</button>
    </div>
}
else
{
    <div>
        <h3>Вход</h3>
        <input type="email" @bind="Email" placeholder="Почта" />
        <input type="password" @bind="Password" placeholder="Пароль" />
        <button @onclick="Login">Войти</button>
    </div>
}

<button @onclick="ToggleForm">Переключить на @(isRegister ? "Вход" : "Регистрация")</button>

@code {
    bool isRegister = true;
    string Name = "";
    string Email = "";
    string Password = "";

    void ToggleForm() => isRegister = !isRegister;

    async Task Register()
    {
        var content = new { Name, Email, Password };
        var response = await Http.PostAsJsonAsync("http://127.0.0.1:5000/accounts/register", content);
    // Обработайте ответ
    }

    async Task Login()
    {
        var content = new { Email, Password };
        var response = await Http.PostAsJsonAsync("http://127.0.0.1:5000/accounts/login", content);
    // Обработайте ответ
    }
}